#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.light {
  background-color: #f8f9fa;
  color: #212529;
}
.dark {
  background-color: #212529;
  color: #f8f9fa;
}

.header {
  background-color: #f8f9fa;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
}
.navigation {
  flex: 1;
}
.navigation ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.hero {
}


.footer {
}
.services {
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-text {
  padding: 2px 16px;
}

.card-imgage img {
  border-radius: 5px 5px 0 0;
}